<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dc7s25hrw/image/upload/v1670700724/give%20me%20a%20hand/meeting_lfysx5.jpg) ;">
  <div class="containerb">
    <h1><strong>My meetings</strong></h1>
  </div>
</div>


<div class="container_meeting">
  <% @user_meetings.each do |meeting| %>
    <div class="card-meeting" class="col-6">
      <div>
       <% if meeting.friend.photo.attached? %>
          <%= cl_image_tag meeting.friend.photo.key, height: 450, width: 400, crop: :fill %>
        <%else%>
          <%= image_tag('givemeahand.jpg')%>
        <%end%>
      </div>
      <div class="card-meeting-infos">
        <h6> You have a meeting with <span id="blue"><%= meeting.friend.firstname %> <%= meeting.friend.lastname %></span><h6>
        <p> Title: <%= meeting.title %><p>
        <p><i id="blue" class="fa-solid fa-calendar-days"></i> : <%= meeting.date %></p>
        <p><strong>Description: </strong><%= meeting.description %></p>
        <div data-controller="videoroom">
          <button data-action="click->videoroom#joinVideoroom" id="dailyTrigger"><i id="blue" class="fa-solid fa-video"></i><span id="blue"> Go to the videoroom</span></button>
          <div id="video-container" data-videoroom-target="videoContainer"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
