<div class="container chatroom chatbox"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
   data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
>
  <!-- <h1>#<%= @chatroom.name %></h1> -->
<a class="alignclose" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  <i class="fa-solid fa-rectangle-xmark closechat"></i>
</a>
<div class="d-flex align-items-center justify-content-between m-3">
  <span class = "message-line"></span>
  <span class = "mx-2" >Messages</span>
  <span class = "message-line"></span>
</div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: {data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Type a message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= button_tag type: 'submit', class: "btn btn_chatroom mb-3" do %>
      <%# <i class="bi bi-send-fill"></i> %>
      <%= image_tag('send.png', size: '15x15') %>
    <% end %>
  <% end %>
</div>
