<div class="container chatroom chatbox"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <!-- <h1>#<%= @chatroom.name %></h1> -->
<div class="d-flex align-items-center justify-content-between m-3">
  <span class = "message-line"></span>
  <span class = "mx-2" >Messages</span>
  <span class = "message-line"></span>
</div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: {data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Type a message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= button_tag type: 'submit', class: "btn btn_chatroom mb-3" do %>
      <%# <i class="bi bi-send-fill"></i> %>
      <%= image_tag('send.png', size: '15x15') %>
    <% end %>
  <% end %>
</div>
