<div id="simple-form">
  <%= simple_form_for(current_user, url: :update_user) do |f| %>
  <%= f.input :username , input_html: { class:"text-dark"}%>
  <%= f.input :origin %>
  <%= f.input :province %>
  <%# <%= f.association :languages, as: :select %> %>
  <%= f.association :categories, as: :select %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
  <% end %>
</div>
