<div class="containerindex" >

  <div class="intro">
    <div class="d-flex align-items-center justify-content-center">
      <img src="https://www.bing.com/th/id/OGC.1bfbf72ae3a5c5679bbbcac6f02f46e8?pid=1.7&rurl=https%3a%2f%2flh5.ggpht.com%2f-r5VA7kTG-lA%2fT6JnSSV1BiI%2fAAAAAAAAExk%2f4yJF6as05nc%2fs00%2fM.gif&ehk=LAZQrj9RrHNCavcNJyE0MDtI%2fLgP9O41amOD4cEGw9Y%3d" alt="world" class="flex-item">
      <h1 class="flex-item">Find a friend to help you settle in your new country.</h1>
    </div>
    <br>
    <p>
      There's a lot to consider when moving overseas. Need of health insurance?
      What identity documents will you need to apply for? Where will you live and
      work? We've been there, and we get it! That's why we've got friends that can
      provide you with an answer to your questions and accompany you along the
      hard process of moving abroad.
    </p>
    <br>
    <h3><span id="subr"><%= pluralize( @friends.count, 'friend' ) %></span> <%= @friends.count > 1 ? "are" : "is" %> available to give you a hand!</h3>
    <%= link_to "Become a Friend today!", friends_new_path, class: "btn btn_custom_dark" %>
    <br>
  </div> <!-- END intro -->
<br>
<!-- Filters -->
<div class="search">
  <%= form_with url: friends_path, method: :get, class: "d-flex" do %>

  <%= select_tag "country",
    options_for_select(@countries, params[:country]),
    prompt: "Country"
  %>

    <%= select_tag "origin",
      options_for_select(@origins, params[:origin]),
      prompt: "Origin"
    %>

    <%= select_tag "spoken_language",
      options_for_select(@spoken_languages, params[:spoken_language]),
      prompt: "Language"
    %>

    <%= select_tag "category",
      options_for_select(@categories, params[:category]),
      prompt: "Category"
    %>

    <%= submit_tag "Search",  id: "search-filter" %>
  <% end %>
</div>
<br>
<br>
<!-- Cards -->
  <div class = "cards">

    <% @friends.each do |friend| %>

      <div class="card-product">

        <!-- photo -->
        <% if friend.photo.attached? %>
          <%= cl_image_tag friend.photo.key, crop: :fill %>
        <%else%>
          <%= image_tag('givemeahand.jpg')%>
        <%end%>

        <div class="card-product-infos">
          <div><h2><%= friend.username.capitalize %></h2></div>

          <!-- Ratings -->
          <div id="stars">
            <%= 'â­' * friend.average_rating %>
          </div>

          <!-- Spoken Languages -->
          <div class="spacer">
            <% friend.spoken_languages.each do |l| %>
                <span class="friend-attributes"><i class="fa-solid fa-earth-americas iconblue"></i><%= l.name.capitalize %></span>
            <% end %>
          </div>

          <!-- Categories -->
          <div class="spacer">
            <% friend.categories.each do |c| %>
              <span class="friend-attributes"><i class="fa-solid fa-handshake-angle iconblue"></i><%= c.name.capitalize %></span>
            <% end %>
          </div>

          <!-- Link to Profile -->
          <%= link_to "visit profile", friend_path(friend), class: "btn btn_custom_dark spacer"  %>

        </div> <!-- End card-product-INFOS -->

      </div> <!-- End card-product -->

    <% end %> <!-- End @friends[] -->

  </div> <!-- End Cards -->

</div> <!-- End Container -->
