<div class="containerindex" >

  <div class="intro">
    <h1>Find a friend to help you settle in your new country.</h1>
    <br>
    <p>
      There's a lot to consider when moving overseas. Need of health insurance?
      What identity documents will you need to apply for? Where will you live and
      work? We've been there, and we get it! That's why we've got friends that can
      provide you with an answer to your questions and accompany you along the
      hard process of moving abroad.
    </p>
    <br>
    <h3><span id="subr"><%= @friends.count %> friends</span> are available to give you a hand!</h3> <span><%= link_to "Become a Friend today!", friends_new_path %></span>
  </div>

<!-- Filters -->
<%= form_with url: friends_path, method: :get, class: "d-flex" do %>
  <%= select_tag "country",
    options_for_select(@countries, params[:country]),
    prompt: "Country"
  %>

  <%= select_tag "origin",
    options_for_select(@origins, params[:origin]),
    prompt: "Origin"
  %>

  <%= select_tag "spoken_language",
    options_for_select(@spoken_languages, params[:spoken_language_ids]),
    prompt: "Language"
  %>

  <%= select_tag "category",
    options_for_select(@categories, params[:category_ids]),
    prompt: "Category"
  %>

  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<!-- Cards -->
  <div class = "cards">

    <% @friends.each do |friend| %>
      <div class="card-product">
        <% if friend.photo.attached? %>
          <%= cl_image_tag friend.photo.key, crop: :fill %>
        <%else%>
          <%= image_tag('givemeahand.jpg')%>
        <%end%>
        <div class="card-product-infos">
          <div><h2><%= friend.username %></h2></div>
          <!-- Ratings -->
          <div id="stars">
            <% friend.reviews_as_friend.each do |review| %>
              <%= 'â­' * review.rating %>
            <% end %>
          </div>
          <!-- Spoken Languages -->
          <div>
            <% friend.spoken_languages.each do |l| %>
              <span class="spoken-language"><%= l.name %></span>
            <% end %>
          </div>
          <!-- Categories -->
          <div>
            <% friend.categories.each do |c| %>
              <span class="spoken-language"><%= c.name %></span>
            <% end %>
          </div>
          <!-- Link to Profile -->
          <%= link_to "visit profile", friend_path(friend), class: "btn btn_custom_dark"  %>
        </div>
      </div> <!-- End card-product -->
    <% end %> <!-- End @friends[] -->

  </div> <!-- End Cards -->

</div> <!-- End Container -->
