<h1>all friends</h1>
<br>
<h4><%= link_to "Become a Friend today!", friends_new_path %></h4>
<br>

<div class="container" >
  <div class="intro">
    <h1>Find a friend to help you settle in your new country</h1>
    <p>There’s a lot to consider when moving overseas. Need of health insurance?
      What identity documents will you need to apply for? Where will you live and
      work? We’ve been there, and we get it! That’s why we’ve got friends that can
      provide you with an answer to your questions and accompany you along the
      hard process of moving abroad.
    </p>
    <h3> IMPLEMENT_COUNTING are available to give you a hand!</h3>
  </div>

  <div class = "cards">

    <% @friends.each do |friend| %>
      <div class="card-product">
        <img src="https://res.cloudinary.com/dwvrcwjwc/image/upload/v1670720783/Miscellaneous/dwight_schrute_omjfw5.jpg" />
        <div class="card-product-infos">
          <div><h2><%= friend.username %></h2></div>
          <!-- Ratings -->
          <div id="stars">
            <% friend.reviews_as_friend.each do |review| %>
              <%= '⭐' * review.rating %>
            <% end %>
          </div>
          <!-- Spoken Languages -->
          <div>
            <% friend.spoken_languages.each do |l| %>
              <span class="spoken-language"><%= l.name %></span>
            <% end %>
          </div>
          <!-- Link to Profile -->
          <%= link_to "visit profile", friend_path(friend), class: "btn btn-flat"  %>
        </div>
      </div> <!-- End card-product -->
    <% end %> <!-- End @friends[] -->

  </div> <!-- End Cards -->
</div> <!-- End Container -->
