<div class="compartment">

  <div id= "textnewf">
    <h1>Help someone today by becoming a friend</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec ac tellus mi. Fusce euismod eget turpis sed ornare.
      Pellentesque bibendum ligula non leo dictum,
      vel elementum velit ullamcorpe
    </p>
  </div>

  <div id="form-new-friend">
    <%= simple_form_for(current_user, url: :update_user) do |f| %>
    <p class = "wordsform"><%= f.input :firstname %></p>
    <%= f.input :username %>
    <%= f.input :country, as: :string %>
    <%= f.association :spoken_languages, input_html: { multiple: true }, as: :check_boxes,  include_hidden: false %>
    <%= f.input :photo, as: :file %>
  </div>
  <div id="form-new-friend">
      <%= f.input :lastname %>
      <%= f.input :origin %>
      <%= f.input :province %>
      <%= f.association :categories, as: :check_boxes, input_html: { multiple: true }, include_hidden: false %>
      <%= f.input :about_me %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
