<div class="compartment">

  <div>
    <h1 id= "textnewf_h1", class="d-flex justify-content-center">Help someone today by becoming a friend</h1>
    <p id= "textnewf_p", class="d-flex justify-content-end"> Get involved and contribute with the guidelines that can help many people who want to settle in another country to receive them and accompany them on their way, in order to help them carry the process of starting a new life more easily.</p>
  </div>

  <div id="container_create">
    <%= simple_form_for(current_user, url: :update_user) do |f| %>
      <div class= "d-flex justify-content-center", class="friend-form-container">
        <div class="p-2 bd-highlight", class="form-new-friend">
          <%= f.input :firstname %></p>
          <%= f.input :username %>
          <%= f.input :country, as: :string %>
          <%= f.association :spoken_languages, input_html: { multiple: true }, as: :check_boxes,  include_hidden: false %>
          <% f.input :photo, as: :file %>
        </div>
        <div class="p-2 bd-highlight", class="form-new-friend">
          <%= f.input :lastname %>
          <%= f.input :origin %>
          <%= f.input :province %>
          <%= f.association :categories, as: :check_boxes, input_html: { multiple: true }, include_hidden: false %>
          <%= f.input :about_me %>
          <%= f.submit "Become a friend!", class:"btn_become_a_friend"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
