<h1><%= @friend.username %></h1>
<h1><%= @friend.origin %></h1>
<%= link_to 'New meeting', new_friend_meeting_path(@friend) %>
<%= link_to 'New review', review_new_path(@friend) %>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @friend.reviews_as_friend.each do |review| %>
    <li class="list-group-item"><%= review.commentary %></li>
    <li class="list-group-item"><%= review.rating %></li>
  <% end %>
</ul>
<br>
