<div class="containerfriend">
  <div class="card-friend">
    <% if @friend.photo.attached? %>
        <%= cl_image_tag @friend.photo.key, height: 300, width: 400, crop: :fill %>
    <%else%>
      <%= image_tag('givemeahand.jpg')%>
    <%end%>
    <div class="card-friend-infos">
      <h1>Friend <%= @friend.username.capitalize %></h1>
      <br>
      <h3><%= @friend.firstname.capitalize %> <%= @friend.lastname.capitalize %></h3>
      <br>
      <h3>📍<%= @friend.origin.capitalize %> - <%= @friend.province.capitalize %></h3>
      <br>
      <h3></i> Spoken languages:<% @friend.spoken_languages.each do |l| %>
        <i class="fa-solid fa-earth-americas iconblue"></i><%= l.name.capitalize %>
            <% end %></h3>
  </div>
</div>
<br>
<div class="friendcategory">
  <h1><%= @friend.firstname.capitalize %> can help friends with...</h1>
  <% @friend.categories.each do |category| %>
    <div>
      <i class="fa-solid fa-handshake-angle iconblue"></i><strong> <%= category.name.capitalize %></strong>
    </div>
  <% end %>
</div>
<h5 class="bluefon">About me:</h5>
<%= @friend.about_me.capitalize %>.
<div class="upsacer">
  <%= render "meetings/meeting_modal" %>
  <%= link_to 'New review', review_new_path(@friend), class:"btn btn_custom_dark" %>
  <a class="btn btn_custom_dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Let's Chat!
  </a>
</div>

<h2 class="upsacersec"><strong>What friends say about <%= @friend.username.capitalize %></strong></h2>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="900000">
  <div class="carousel-indicators">
    <% (@friend.reviews_as_friend.count).times do |i| %>
      <% if i.zero? %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="active" aria-current="true" aria-label="Slide <%= i + 1 %>"></button>
      <% else %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" aria-label="Slide <%= i + 1 %>"></button>
      <% end %>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% @friend.reviews_as_friend.each_with_index do |review, index| %>
      <div class="carousel-item <%= "active" if index.zero? %>">
        <div class="card-avatar">
          <div class="card" style="width: 70rem;">

        </div>
        <div class="card-body">
          <div class="card-commentary">
            <p><%= review.commentary %></p>
          </div>
          <p class="card-text"><%= '⭐' * review.rating %></p>
          <p class="card-text"><%= current_user.username %></p>
        </div>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span  class="carousel-control-prev-icon" class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<br>
<br>

  <!-- Bootstrap Collapse -->
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <!-- show chatroom -->
    <%= render "chat" %>
  </div>
</div>
<!-- End Collapse -->
</div>
