<div class="container">
  <div class="card-friend">
    <img src="https://avatars.githubusercontent.com/u/39506332?v=4" />
    <div class="card-friend-infos">
      <h1>Friend <%= @friend.username %></h1>
      <h3><%= @friend.firstname %></h3>
      <h3><%= @friend.lastname %></h3>
      <h3><%= @friend.origin %></h3>
      <h3><%= @friend.province %></h3>
      <h3><%= @friend.address %></h3>

      <p>I can help you with <strong>open bank accounts</strong>.</p>
    </div>
  </div>

  <%= link_to 'Book a meeting', new_friend_meeting_path(@friend), class: "btn btn-flat" %>
  <%= link_to 'New review', review_new_path(@friend) %>
  <%= link_to 'edit', edit_path %>

<h2><strong>What friends say about Stuard</strong></h2>
<div class="row">
  <div class="col-lg-3">
    <ul class="list-group">
      <% @friend.reviews_as_friend.each do |review| %>
        <br>
        <li class="list-group-item"><%= 'avatar' %></li>
        <li class="list-group-item"><%= review.commentary %></li>
        <li class="list-group-item"><%= 'â­' * review.rating %></li>
        <li class="list-group-item"><%= 'username' %></li>
      <% end %>
    </ul>
  </div>
</div>

</div>
