<div class="container">
  <div class="card-friend">
    <% if @friend.photo.attached? %>
        <%= cl_image_tag @friend.photo.key, height: 300, width: 400, crop: :fill %>
    <%else%>
      <%= image_tag('givemeahand.jpg')%>
    <%end%>
    <div class="card-friend-infos">
      <h1>Friend <%= @friend.username %></h1>
      <h3><%= @friend.firstname %></h3>
      <h3><%= @friend.lastname %></h3>
      <h3><%= @friend.origin %></h3>
      <h3><%= @friend.province %></h3>
      <h3><%= @friend.address %></h3>

      <p>I can help you with <strong>open bank accounts</strong>.</p>
    </div>
  </div>

  <%= link_to 'Book a meeting', new_friend_meeting_path(@friend), class: "btn btn-flat" %>

  <%= link_to 'Review', review_new_path(@friend), class: "btn btn-flat" %>
  <%= link_to 'edit', edit_path, class: "btn btn-flat" %>
  <br>
  <h2><strong>What friends say about Stuard</strong></h2>
  <br>

  <ul class="list-group">
    <% @friend.reviews_as_friend.each do |review| %>
      <br>
      <div class="row">
        <div class="col-6">
          <img src="https://res.cloudinary.com/ddwnnuqij/image/upload/v1670866144/give%20me%20a%20hand/113928215_yytfbf.jpg" class="card-trip-heidy" alt="...">
          <li class="list-group-item"><%= review.commentary %></li>
          <li class="list-group-item"><%= 'â­' * review.rating %></li>
          <li class="list-group-item"><%= current_user.username %></li>
        </div>
      </div>
    <% end %>
  </ul>
</div>
