<div class="containerfriend">
  <div class="card-friend">
    <% if @friend.photo.attached? %>
        <%= cl_image_tag @friend.photo.key, height: 300, width: 400, crop: :fill %>
    <%else%>
      <%= image_tag('givemeahand.jpg')%>
    <%end%>
    <div class="card-friend-infos">
      <h1>Friend <%= @friend.username %></h1>
      <br>
      <h3><%= @friend.firstname.capitalize %> <%= @friend.lastname.capitalize %></h3>
      <h3><%= @friend.origin.capitalize %></h3>
      <br>
      <h3>📍<%= @friend.province.capitalize %>, <%= @friend.address.capitalize %></h3>
      <br>
      <h4>I am a friend that ...<%= @friend.about_me %></h4>
       <h3></h3>
  </div>
</div>
<br>
<div class="friendcategory">
  <h1>I can help friends with...</h1>
  <br>
  <ul>
    <% @friend.categories.each do |category| %>
     <li><strong> <%= category.name.capitalize %></strong></li>
    <% end %>
</div>
<p>It is a pleasure for me to be able to help you! Do not hesitate to count on me and ask me about what you need.  We are here for you, discover the resources we have to welcome you and accompany you on your way to establish yourself in this country.</p>
<br>
  <%= render "meetings/meeting_modal" %>
  <%= link_to 'New review', review_new_path(@friend) %>

<br>
<br>
<br>
<h2><strong>What friends say about <%= @friend.username.capitalize %></strong></h2>
<div class="row">
  <div class="col-lg-3">
    <ul class="list-group">
      <% @friend.reviews_as_friend.each do |review| %>
        <br>
        <li class="list-group-item"><%= 'avatar' %></li>
        <li class="list-group-item"><%= review.commentary %></li>
        <li class="list-group-item"><%= '⭐' * review.rating %></li>
        <li class="list-group-item"><%= 'username' %></li>
      <% end %>
    </ul>
  </div>
</div>

  <ul class="list-group">
    <% @friend.reviews_as_friend.each do |review| %>
      <br>
      <div class="row">
        <div class="col-6">
          <img src="https://res.cloudinary.com/ddwnnuqij/image/upload/v1670866144/give%20me%20a%20hand/113928215_yytfbf.jpg" class="card-trip-heidy" alt="...">
          <li class="list-group-item"><%= review.commentary %></li>
          <li class="list-group-item"><%= '⭐' * review.rating %></li>
          <li class="list-group-item"><%= current_user.username %></li>
        </div>
      </div>
    <% end %>
  </ul>

  <!-- Bootstrap Collapse -->
  <p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <!-- show chatroom -->
    <%= render "chat" %>
  </div>
</div>
<!-- End Collapse -->
</div>
