<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dc7s25hrw/image/upload/v1670700724/give%20me%20a%20hand/meeting_lfysx5.jpg) ;">
  <div class="containerb">
    <h1><strong>New reviews</strong></h1>
  </div>
</div>
<div id= "container_review">
  <div class="rating">
    <span>★</span>
    <span>★</span>
    <span>★</span>
    <span>★</span>
    <span>★</span>
  </div>
<p> Hey <%=current_user.firstname%>! How did you find your experience with <%=@friend.firstname %><p>
  <%= simple_form_for([@friend, @review], url: review_path(@friend.id)) do |f| %>
    <div class = "commentary">
      <%= f.input :commentary %>
    </div>
      <% f.input :rating %>
    <%= f.submit "Send your review", class: "btn btn_custom_dark" %>
  <% end %>
</div>
