<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dc7s25hrw/image/upload/v1670700724/give%20me%20a%20hand/meeting_lfysx5.jpg) ;">
  <div class="containerb">
    <h1><strong>Rate your meeting</strong></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for([@friend, @review], url: review_path(@friend.id)) do |f| %>
        <br>
        <div class="d-flex justify-content-center">
          <div class="star">
            <%= f.input :rating, collection: (1..5).to_a, input_html: {data: {controller: "star-rating"}} %>
          </div>
        </div>
          <div class="d-flex justify-content-center">
            <p> Hey <%=current_user.firstname%>! How did you find your experience with <%=@friend.firstname %><p>
          </div>
        <div>
          <%= f.input :commentary %>
        </div>
        <div class="d-flex justify-content-center">
          <%= f.submit "Send your review", class:"btn btn_custom_dark" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
