<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "logo.png", rel: "icon", type: "image/png" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <title>Give Me A Hand | Whit a friend's help, nothing is impossible!</title>
  </head>

  <body>
    <!-- Navbar -->
    <%= render "shared/navbar" %>

    <!-- flashes -->
    <%= render "shared/flashes" %>

    <!-- flash messages -->
    <p class="notice position-absolute mb-0"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
